body{
    margin-top:auto;
    margin-left: 5cm;
    margin-right: 10cm;
    padding: 2cm;
}
.heading-tittle{
    font-size: 50px;
    color: #0c5c2b;
    background-color:bisque;
    font-family: Arial, Helvetica, sans-serif;
}
.time{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: right
}
.hn-tittle{
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dt-news_span{
    background-color: #1a7900;
    color: #ffffff;
    padding: 4px 8px ;
    font-weight: 400;
    border-radius: 2px;
    display: inline-block;
    line-height: 1;
}


